.key-data-results {
font-size: 20px;
  font-weight: 700;
  color: rgba(40,45,48,1);
}
.key-data-legends {
  font-weight: 500;
  font-size: 14px;
  color: rgba(116,121,140,1);
}
.key-data-icon {
  width: 60px;
  height: 60px;
  margin: 0 30px 0 40px;
}
.key-data-contenaire {
  width: 258px;
  height: 124px;
  display: flex;
  background-color: rgba(251, 251, 251, 1);
  align-items: center;
  border-radius: 5%;
  margin-top: 39px;
}
.key-data-component {
  margin-top: 30px;
}
@media (min-width: 1440px) {
  .key-data-component {
    margin-top: 213px;
    display: flex;
    flex-direction: column;
  }
}

